# Ignore artifacts:
build
data
source/assets/documents
source/assets/images
source/assets/javascripts/bootstrap.js
source/assets/javascripts/jquery.js
source/assets/stylesheets/bootstrap-red.css
source/assets/stylesheets/bootstrap.css
