<% content_for :title, "Home" %>
<div class="row">
  <div class="col-lg-6">
    <div id="carousel" class="carousel slide">
      <ol class="carousel-indicators">
        <% for i in 0..12 %>
          <li data-target="#carousel" data-slide-to="<%= i %>"<%= i == 0 ? " class=\"active\"" : "" %>></li>
        <% end %>
      </ol>
      <div class="carousel-inner" role="listbox">
        <% for i in 0..12 %>
          <div class="item<%= i == 0 ? " active" : "" %>">
            <img class="img-thumbnail" src="/assets/images/homepage/image<%= i %>.jpg" alt="photo of our team working">
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="page-header" style="margin-top: 0;">
      <h2>Welcome to Armada Robotics!</h2>
    </div>
    <p>
      FRC Team 2508, Armada Robotics, is an award winning FIRST Robotics team that operates out of Stillwater Area High School in Stillwater, Minnesota.
      Armada strives to challenge the youth of its community in a constructive manner through innovative development and teamwork.
    </p>
    <a href="/about" class="btn btn-primary">
      Learn more!
    </a>
  </div>
</div>
<div class="row">
  <div style="float: none;">
    <div class="col-lg-6">
      <div class="page-header">
        <h4>Instagram</h4>
      </div>
      <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/frc2508/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"></blockquote>
      <script async src="https://www.instagram.com/embed.js"></script>
    </div>
    <div class="col-lg-6">
      <div class="page-header">
        <h4>TikTok</h4>
      </div>
      <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@armada_robotics" data-unique-id="armada_robotics" data-embed-from="embed_page" data-embed-type="creator" style="max-width:780px; min-width:288px; border-left: 0; padding: 0;">
        <div> <a target="_blank" href="https://www.tiktok.com/@armada_robotics?refer=creator_embed">@armada_robotics</a> </div>
      </blockquote>
      <script async src="https://www.tiktok.com/embed.js"></script>
    </div>
  </div>
</div>
<div style="display: flex; justify-content: center; text-align: center;">
  <div class="page-header">
    <h4>Find Us Elsewhere</h4>
    <p>
      <a href="https://www.youtube.com/user/ArmadaRobotics" target="_blank"><img src="/assets/images/social_media/youtube.svg" alt="youtube logo" style="width: 36px; margin: 0 4px 0 4px;"/>ArmadaRobotics</a>
      <a href="https://www.facebook.com/FRC2508/" target="_blank"><img src="/assets/images/social_media/facebook.png" alt="facebook logo" style="width: 36px; margin: 0 4px 0 4px;"/>FRC2508</a>
    </p>
  </div>
</div>
